<%- include("../partials/header") %>

<link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet"/>

<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"/>

<h1 class="text-center">Edit <%= exercise.name %> </h1>


<div class="row">
    <form class="mx-auto w-75" action="/exercises/<%= exercise.slug %>?_method=PUT" method="POST" enctype="multipart/form-data" id="editExerciseForm">
        <div class="form-group">
            <input name="name" type="text" value="<%= exercise.name %>" class="form-control">
        </div>
        <div class="form-group">
            <textarea name="description" id="description" class="form-control" rows="5"><%= exercise.description %></textarea>
        </div>
        
        <!-- <div class="form-group">
            <label>Attach a Video File</label>
            <input type="file" name="video">
        </div>  -->
        <% if(exercise.videoId){ %> 
            <div>
                <input type="radio" id="fileRadio" name="video" checked>
                <label for="fileUpload"><input type="file" name="video" id="file"></label>
            </div>
            <div>
                <input type="radio" id="youTubeRadio" name="video">
                <label for="youTubeLink">YouTube<input type="url" name="video" id="youTube"></label>
            </div>
        <% } else{ %>
            <div>
                <input type="radio" id="fileRadio" name="video">
                <label for="fileUpload"><input type="file" name="video" id="file"></label>
            </div>
            <div>
                <input type="radio" id="youTubeRadio" name="video" checked>
                <label for="youTubeLink">YouTube<input type="url" name="video" id="youTube" value="<%= exercise.video %>"></label>
            </div>
        <% } %>
        <div class="form-group">
            <label>Select primary muscle targeted</label>
            <select class="form-control" name="muscle" id="muscle">
                <option><%= exercise.muscle %></option>
                <%var muscleList = muscles.sort((a,b)=>a.name.localeCompare(b.name))%>
                <% muscleList.forEach(muscle=>{ %> 
                    <option><%=muscle.name%></option>
                <% }) %>      
            </select>
        </div>
        <input type="submit" class="btn btn-primary btn-rounded"> 
    </form>
</div>

<a href="/exercises" class="text-center">Go back</a>

<script>
    var form = document.querySelector('#editExerciseForm'); 
    var fileRadio = document.querySelector('#fileRadio');
    var file =  document.querySelector('#file'); 
    var youTubeRadio = document.querySelector('#youTubeRadio'); 
    var youTube  = document.querySelector('#youTube');
    form.addEventListener('submit', function(){
        if(fileRadio.checked){
            youTube.value='';
            alert("UPLOAD: " + file.value);  
        } 
        else if(youTubeRadio.checked){
            file.value=''; 
            alert("YOUTUBE LINK: " + youTube.value);
        }
    }, {capture: true}); 
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>

<!-- Initialize the editor. -->
<script>
  var editor = new FroalaEditor('#description', {
      toolbarButtons:{
        'moreText': {
          'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting']
        },
        'moreParagraph': {
          'buttons': ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'lineHeight', 'outdent', 'indent']
        },
        'moreMisc': {
          'buttons': ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'help'],
          'align': 'right',
          'buttonsVisible': 2
        }
      }
  });
</script>


<%- include("../partials/footer") %>