<%- include("../partials/header") %>

<h1 class="text-center">Edit <%= exercise.name %> </h1>


<div class="row">
    <form class="mx-auto w-75" action="/exercises/<%= exercise.slug %>?_method=PUT" method="POST">
        <div class="form-group">
            <input name="name" type="text" value="<%= exercise.name %>" class="form-control">
        </div>
        <div class="form-group">
            <textarea name="description" id="description" class="form-control" rows="5"><%= exercise.description %></textarea>
        </div>
        
        <div class="form-group">
            <label>Attach a Video File</label>
            <input type="file" name="video">
        </div> 
        <div class="form-group">
            <label>Select primary muscle targeted</label>
            <select class="form-control" name="muscle" id="muscle">
                <option><%= exercise.muscle %></option>
                <%var muscleList = muscles.sort((a,b)=>a.name.localeCompare(b.name))%>
                <% muscleList.forEach(muscle=>{ %> 
                    <option><%=muscle.name%></option>
                <% }) %>      
            </select>
        </div>
        <input type="submit" class="btn btn-primary btn-rounded"> 
    </form>
</div>

<a href="/exercises" class="text-center">Go back</a>


<%- include("../partials/footer") %>