<%- include("../partials/header") %>

<div class="jumbotron mx-auto">
    <h1 class="card-title text-center pb-2"><strong><%= exercise.name %></strong></h1>
    <% if(currentUser && exercise.author.id.equals(currentUser._id)){ %> 
        <h6 class="card-title h6 text-center text-muted"><em>Submitted by <a href="/profile/<%= exercise.author.username %>">you</a> <%= moment(exercise.createdAt).fromNow() %></em></h6>
        <a class="btn btn-rounded" href="/exercises/<%= exercise.slug %>/edit">Edit</a>
        <form action="/exercises/<%= exercise.slug %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
        </form>
    <% } else{ %> 
        <h6 class="card-title h6 text-center text-muted"><em>Submitted by <a href="/profile/<%= exercise.author.username %>"> <%= exercise.author.username %></a> <%= moment(exercise.createdAt).fromNow() %></em></h6>
    <% } %>
   
        <div class="view-overlay my-4">
            <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="<%= exercise.video %>" allow="autoplay 'none'"></iframe>
              </div>
        </div>
    <p class="card-text"><%- exercise.description %></p>
    
    <form action="/exercises/<%= exercise.slug %>/recommend" method="POST">
        <% if(currentUser){ %> 
            <% const recommended = exercise.recommends.some(recommend =>{ %> 
                <% return recommend.equals(currentUser._id) %> 
            <% }) %> 
            <% if(recommended){ %> 
                <button class="btn btn-success btn-rounded"> <i class="fas fa-check-circle"></i> Reccommended (<%= exercise.recommends.length %>) </button>
            <% } else { %> 
                <button class="btn btn-primary btn-rounded"> <i class="far fa-check-circle"></i> Recommend (<%= exercise.recommends.length %>) </button>
            <% } %>
        <% } else{ %> 
            <button class="btn btn-primary btn-rounded" disabled> <i class="far fa-check-circle"></i> Recommend (<%= exercise.recommends.length %>) </button>                
        <% } %>
    </form>

    
</div>

<!-- REFERENCES -->
<div class="jumbotron text-center mx-auto">
    <h3 class="card-title pb-2"><strong>References (<%= exercise.reference.length %>)</strong></h3>
    <% exercise.reference.map(ref => { %> 
        <div>
            <div class="row">
                <p><%= ref.authors %>. <%= ref.year.getFullYear() %>. <%= ref.title %>. <em><%= ref.journal %></em>. <%= ref.edition %>: <%= ref.pageStart %> - <%= ref.pageEnd %></p>
                <div>
                    <p> - <a class="text-dark" href="/profile/<%= ref.author.username %>"> <%= ref.author.username %>, <%= moment(ref.updatedAt).fromNow() %> </a></p>
                </div>
                <% if(currentUser && ref.author.id.equals(currentUser._id)){ %> 
                    <a class="btn btn-default" href="/exercises/<%= exercise.slug %>/references/<%= ref.id %>/edit">Edit</a>
                    <form action="/exercises/<%= exercise.slug %>/references/<%= ref.id %>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                <% } %>
            </div>
        </div>
    <% }) %>
    <% if(currentUser){ %> 
        <hr>
        <div>
            <a class="btn btn-primary btn-rounded" href="/exercises/<%= exercise.slug %>/references/new"><i class="fas fa-plus"></i> Add reference</a>
        </div>
    <% } %>
  
</div>
<!-- REFERENCES END -->

<!-- COMMENTS -->
<div class="jumbotron text-center mx-auto">
    <h3 class="card-title pb-2"><strong>Comments</strong></h3>
    <hr>
    <% exercise.comments.forEach(comment => { %> 
        <div class="row my-3">
            <div style="width: 100%; text-align: left;">
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                    <a href="/exercises/<%= exercise.slug %>/comments/<%= comment.id %>/edit" class="btn btn-default btn-sm">Edit Comment</a>
                    <form action="/exercises/<%= exercise.slug %>/comments/<%= comment.id%>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                <% } %>
                <h5 class="float-left"> <strong><%= comment.author.username %></strong></h5><br>
                <p class="text-muted"><%= moment(comment.updatedAt).fromNow() %></p>
            </div>
            <div style="width: 100%; text-align: left;">
                <p><%= comment.text %></p>  
            </div>
        </div>
    <% }) %> 
    <hr>
    <% if(currentUser){ %> 
        <form action="/exercises/<%= exercise.slug %>/comments" method="POST">
            <div class="form-group">
                <textarea rows="2" placeholder="Enter comment here" name="comment[text]" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary btn-sm"> <i class="fas fa-feather"></i> Submit</button>
        </form>
    <% } %>
</div>
<!-- COMMENTS END -->


<%- include("../partials/footer") %>