<%- include("../partials/header") %>

<div class="jumbotron mx-auto">
    <h1 class="card-title text-center pb-2"><strong><%= exercise.name %></strong></h1>
    <% if(currentUser && exercise.author.id.equals(currentUser._id)){ %> 
        <h6 class="card-title h6 text-center text-muted"><em>Submitted by <a href="/profile/<%= exercise.author.username %>">you</a> <%= moment(exercise.createdAt).fromNow() %></em></h6>
        <a class="btn btn-rounded" href="/exercises/<%= exercise.slug %>/edit">Edit</a>
        <form action="/exercises/<%= exercise.slug %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
        </form>
    <% } else{ %> 
        <h6 class="card-title h6 text-center text-muted"><em>Submitted by <a href="/profile/<%= exercise.author.username %>"> <%= exercise.author.username %></a> <%= moment(exercise.createdAt).fromNow() %></em></h6>
    <% } %>
   
        <div class="view-overlay my-4">
            <% if(exercise.videoId){ %> 
                <video controls="controls" src="<%= exercise.video %>" style="width: 75%;margin: auto;">
                </video>
            <% } else{ %> 
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="<%= exercise.video %>" allow="autoplay 'none'"></iframe>
                </div>
            <% } %>
        </div>
    <p class="card-text"><%- exercise.description %></p>
    
    <form action="/exercises/<%= exercise.slug %>/recommend" method="POST" class="recommend">
        <% if(currentUser){ %> 
            <% const recommended = exercise.recommends.some(recommend =>{ %> 
                <% return recommend.equals(currentUser._id) %> 
            <% }) %> 
            <% if(recommended){ %> 
                <button class="btn btn-success btn-rounded recommend recommended" id="recommendedBtn"> <i class="fas fa-check-circle"></i> Reccommended (<%= exercise.recommends.length %>) </button>
                
            <% } else { %> 
                <button class="btn btn-primary btn-rounded recommend recommendBtn" id="recommendBtn"> <i class="far fa-check-circle"></i> Recommend (<%= exercise.recommends.length %>) </button>
                
            <% } %>
        <% } else{ %> 
            <button class="btn btn-primary btn-rounded" disabled> <i class="far fa-check-circle"></i> Recommend (<%= exercise.recommends.length %>) </button>                
        <% } %>
    </form>

    
</div>

<!-- REFERENCES -->
<div class="jumbotron text-center mx-auto">
    <h3 class="card-title pb-2"><strong>References (<%= exercise.reference.length %>)</strong></h3>
    <% exercise.reference.map(ref => { %> 
        <div>
            <div class="row">
                <p><%= ref.authors %>. <%= ref.year.getFullYear() %>. <%= ref.title %>. <em><%= ref.journal %></em>. <%= ref.edition %>: <%= ref.pageStart %> - <%= ref.pageEnd %></p>
                <div>
                    <p> - <a class="text-dark" href="/profile/<%= ref.author.username %>"> <%= ref.author.username %>, <%= moment(ref.updatedAt).fromNow() %> </a></p>
                </div>
                <% if(currentUser && ref.author.id.equals(currentUser._id)){ %> 
                    <a class="btn btn-default btn-sm" href="/exercises/<%= exercise.slug %>/references/<%= ref.id %>/edit">Edit</a>
                    <form action="/exercises/<%= exercise.slug %>/references/<%= ref.id %>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                <% } %>
            </div>
        </div>
    <% }) %>
    <% if(currentUser){ %> 
        <hr>
        <div>
            <a class="btn btn-primary btn-rounded" href="/exercises/<%= exercise.slug %>/references/new"><i class="fas fa-plus"></i> Add reference</a>
        </div>
    <% } %>
  
</div>
<!-- REFERENCES END -->

<!-- COMMENTS -->
<div class="jumbotron">
    <h3 class="ard-title text-center"><strong>Comments</strong></h3>
    <div class="list-group">
        <div id="comment-panel">
            <div  id="commentList">
                <% exercise.comments.forEach(comment => { %> 
                    <div class="row my-3 list-group-item each-comment">
                        <div class="d-block">
                            <p> <strong><%= comment.author.username %></strong> | <span class="text-muted"><%= moment(comment.updatedAt).fromNow() %></span> 
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <span class="float-right comment-hamburger"><i class="fas fa-bars"></i></span>
                                <% } %> 
                            </p>
                        </div>
                        <div class="current-comment">
                            <p><%= comment.text %></p>  
                        </div>
                        <form action="/exercises/<%= exercise.slug %>/comments/<%= comment.id %>" method="POST" class="edit-comment">
                            <div class="form-row">
                                <div class="form-group col-9 col-sm-10 col-md-11">
                                    <textarea rows="1" class="form-control" name="comment[text]"><%= comment.text %></textarea>
                                </div>
                                <div class=" form-group col-3 col-sm-2 col-md-1">
                                    <input type="submit" class="btn btn-primary btn-sm edit-submit-button">
                                </div>
                            </div>
                        </form>
                        <div class="comment-option-buttons">
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                                <button class="btn btn-default btn-sm edit-button user-owner-buttons"><i class="far fa-edit"></i> Edit</button>
                                <button type="button" class="btn btn-danger btn-sm user-owner-buttons" data-toggle="modal" data-target="#deleteComment"><i class="far fa-trash-alt"></i> Delete</button>
                                <div class="modal" id="deleteComment" tabindex="-1" role="dialog" aria-labelledby="deleteComment" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-notify modal-sm modal-danger" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-white font-weight-bolder" id="deleteComment">Are you sure?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                                                <form action="/exercises/<%= exercise.slug %>/comments/<%= comment.id%>" method="POST" class="delete-comment">
                                                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div> 
            <% if(currentUser){ %> 
                <form action="/exercises/<%= exercise.slug %>/comments" method="POST" class="comments">
                    <div class="form-group">
                        <textarea rows="2" placeholder="Enter comment here" name="comment[text]" class="form-control" id="commentTextArea"></textarea>
                    </div>
                    <button class="btn btn-primary btn-sm"> <i class="fas fa-feather"></i> Submit</button>
                </form>
            <% } %>
        </div>
        
    </div>
</div>
<!-- COMMENTS END -->


<%- include("../partials/footer") %>