<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="card mx-auto my-2" style="width: 18rem;">
                <img src="<%=user.image%>" class="card-img-top" id="profilePic" alt="image of <%= user.name %>">
                <div class="card-body">
                    <div class="mx-4">
                        <h6 style="display: inline;">Profession:</h6>
                        <p class="text-justify d-inline card-text"><%= user.profession %></p>
                    </div>
                    <div class="mx-4">
                        <h6 style="display: inline;">Graduated:</h6>
                        <p class="text-justify d-inline card-text"><%= user.graduated %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 my-lg-5 my-2">
            <h1 class="text-center"><%= user.firstName %> <%= user.lastName%></h1>
            <h3 class="text-center text-muted"><%= user.username %></h3>
            <div class="mx-4">
                <h4>About:</h4>
                <p class="text-justify" id="bio"><%= user.bio %></p>
            </div>
        </div>  
    </div>
    <% if(currentUser && user._id.equals(currentUser._id)){ %> 
        <a href="/profile/<%= user.username %>/edit" class="btn btn-primary">Edit Profile</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProfile">
            Delete Profile
        </button>

        <!--DELETE PROFILE POP-UP/MODAL: -->
        <div class="modal fade" id="deleteProfile" tabindex="-1" role="dialog" aria-labelledby="deleteProfile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-notify modal-danger" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteProfile">Are you sure?</h5>
                    </div>
                    <div class="modal-body">
                        When you delete your profile, all of your contributions are also deleted. When this happens, it is irrecoverable.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <form action="/profile/<%= user.username %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger btn-rounded submit-button" value="Delete"> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>


<%- include("../partials/footer") %>